{
    "presets": [
      "next/babel"
    ],
    "plugins": [
    ],
    "env": {
      "production": {
        "plugins": [
          [
            "i18next-extract",
            {
              "discardOldKeys": true,
              "outputPath": "static/locales/en/scanResult.json"
            }
          ]
        ]
      }
    }
  }